{% extends 'base.html.twig' %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('success') %}
	    <div class="flash-success">
	        {{ flash_message }}
	    </div>
	{% endfor %}

	<div>
		<a href="{{ path('article_new')}}">Créer un article</a>
	</div>

    {% for article in articles %}
        <a href="{{ path('article_view', {id: article.id}) }}">
            <h4>{{ article.title }}</h4>
        </a>


        <p>
            {{ article.content[:20] }}...
        </p>

		<div>
			<a href="{{ path('article_remove', {id:article.id}) }}">Remove Article</a>
		</div>

        <hr>
    {% endfor %}
{% endblock %}
